@model User
@{
    ViewData["Title"] = "EditProfile";
}

<link rel="stylesheet" href="~/css/site.css" />
<link rel="stylesheet" href="~/css/profile.css" />
<div>
    <div class="user-profile">
        <h2>Edit Your Profile</h2>
        <form asp-controller="Account" asp-action="SaveChanges" method="post">
            <div class="profile-content">
                <text>Username: </text>
                <text>@Model.Username</text>
            </div>
            <br />
            <div class="profile-content">
                <text>Email: </text>
                <text>@Model.Email</text>
            </div>
            <br />
            <div class="profile-content">
                <label asp-for="FirstName">First Name: </label>
                <input type="text" asp-for="FirstName" placeholder="@Model.FirstName" />
            </div>
            <br />
            <div class="profile-content">
                <label asp-for="LastName">Last Name: </label>
                <input type="text" asp-for="LastName" placeholder="@Model.LastName" />
            </div>
            <br />
            <div class="profile-content">
                <text>Date of Birth: </text>
                <text>@Model.BirthDate.ToShortDateString()</text>
            </div>
            <br />
            <div class="profile-content">
                <text>Age: </text>
                <text>@Model.Age</text>
            </div>
            <br />
            <div class="profile-content">
                <label asp-for="Height">Height (inches): </label>
                <input type="number" asp-for="Height" placeholder="@Model.Height" />
            </div>
            <br />
            <div class="profile-content">
                <label asp-for="CurrentWeight">Current Weight (lbs.): </label>
                <input type="number" asp-for="CurrentWeight" placeholder="@Model.CurrentWeight" />
            </div>
            <br />
            <div class="profile-content">
                <label asp-for="DesiredWeight">Desired Weight (lbs.): </label>
                <input type="number" asp-for="DesiredWeight" placeholder="@Model.DesiredWeight" />
            </div>
            <br />
            <div class="profile-content">
                <label asp-for="RecommendedDailyCaloricIntake">Recommended Daily Caloric Intake: </label>
                <input type="number" asp-for="RecommendedDailyCaloricIntake" placeholder="@Model.RecommendedDailyCaloricIntake" />
            </div>
            <br />

            <button type="submit" value="submit" class="btn btn-info">
                Save Changes
            </button>
        </form>
    </div>
</div>