@model User
@{
    ViewData["Title"] = "ViewProfile";
}

<link rel="stylesheet" href="~/css/profile.css" />
<div>
    <div class="user-profile">
        <h2>ViewProfile</h2>

        <text>Username: </text>
        <text>@Model.Username</text>

        <br />

        <text>Email: </text>
        <text>@Model.Email</text>

        <br />

        <text>First Name: </text>
        <text>@Model.FirstName</text>

        <br />

        <text>Last Name: </text>
        <text>@Model.LastName</text>

        <br />

        <text>Date of Birth: </text>
        <text>@Model.BirthDate.ToShortDateString()</text>

        <br />

        <text>Age: </text>
        <text>@Model.Age</text>

        <br />

        <text>Height (inches): </text>
        <text>@Model.Height</text>

        <br />

        <text>Current Weight (lbs.): </text>
        <text>@Model.CurrentWeight</text>

        <br />

        <text>Desired Weight (lbs.): </text>
        <text>@Model.DesiredWeight</text>

        <br />

        <text>Recommended Daily Caloric Intake: </text>
        <text>@Model.RecommendedDailyCaloricIntake</text>

        <br />

        <form asp-controller="Account" asp-action="EditProfile" method="get">
            <button type="submit" value="submit" class="btn">Edit Profile</button>
        </form>
    </div>
</div>