@model SearchResults
@{
    ViewData["Title"] = "FoodResults";
}

<h2>Food Results</h2>

@if (Model.FoodSearchResults.Count == 0)
{
    <p>No foods found</p>
}
else
{
    @foreach (var item in Model.FoodSearchResults)
    {
        <div>
            <img src="@item.PhotoUrl" />
            <p>@item.Name</p>
            @*<a asp-controller="Dashboard" asp-action="ViewFoodDetail" asp-route-name="@item.Name">View Details</a>*@
            <form asp-controller="Dashboard" asp-action="ViewFoodDetail" method="get">
                <input type="hidden" name="name" value="@item.Name" />
                <input type="hidden" name="imgurl" value="@item.PhotoUrl" />
                <button type="submit">View Details</button>
            </form>
            <form>
                <input type="hidden" name="name" value="@item.Name" />
                <input type="hidden" name="imgurl" value="@item.PhotoUrl" />
                <button type="submit">Add Food</button>
            </form>
        </div>
    }




    @*<label asp-for="Name"></label>
    <input type="text" asp-for="Name" />*@

    @*<button type="submit" value="Submit">Search</button>*@

}

