@model SearchResults
@{
    ViewData["Title"] = "FoodResults";
}
<head>
    <link rel="stylesheet" href="~/css/UserDashboard.css" />
    <link rel="stylesheet" href="~/css/foodResults.css" />
</head>

<div class="wrapper">

    @await Component.InvokeAsync("DashboardNavigation")

    <div class="column">
        <div>
            <h2>Search For A Food to Add</h2>
            <form asp-controller="Dashboard" asp-action="FoodResults" method="get">
                <input type="text" asp-for="@Model.Name" autocomplete="off"/>

                <button class="btn btn-info" type="submit" value="Submit">Search</button>
            </form>
        </div>

        <h2>Food Results</h2>
        <div class="flex-container">
            @if (Model.FoodSearchResults.Count == 0)
            {
                <p>No foods found</p>
            }
            else
            {
                @foreach (var item in Model.FoodSearchResults)
                {

                <div>
                    <img id="resultImage" src="@item.PhotoUrl" />
                    <p>@item.Name</p>
                    <form asp-controller="Dashboard" asp-action="ViewFoodDetail" method="get">
                        <input type="hidden" name="name" value="@item.Name" />
                        <input type="hidden" name="imgurl" value="@item.PhotoUrl" />
                        <input type="hidden" name="serving_unit" value="@item.ServingUnit" />
                        <input type="hidden" name="serving_qty" value="@item.ServingQuantity" />
                        <button class="btn btn-info" type="submit">View Details</button>
                    </form>
                    <form asp-controller="Dashboard" asp-action="SaveFood" method="post">
                        <input type="hidden" name="name" value="@item.Name" />
                        <input type="hidden" name="serving_unit" value="@item.ServingUnit" />
                        <input type="hidden" name="serving_qty" value="@item.ServingQuantity" />
                        <button class="btn btn-info" type="submit">Add Food</button>
                    </form>
                </div>
                }
            }
        </div>
    </div>
</div>


