@model Tuple<User, IList<UserFood>>
@{
    ViewData["Title"] = "Index";
    var user = Model.Item1;
    var userFoods = Model.Item2;
    float totalConsumedCalories = 0;

    foreach (var userFood in userFoods)
    {
        if (userFood.DateOfEntry.Equals(DateTime.Today))
        {
            totalConsumedCalories += (userFood.CaloriesPerServing * userFood.NumberOfServings);
        }
    }
}



<head>
    <link rel="stylesheet" href="~/css/UserDashboard.css" />
    <link rel="stylesheet" href="~/css/DashboardOverview.css" />
</head>

<div class="wrapper">

    @await Component.InvokeAsync("DashboardNavigation")

    <div class="column" id="userInfo">

        <h2 id="overview">Overview</h2>

        <div id="todayDashboard">
            <div>
                <div id="todaysCalories">
                    Total Calories Consumed Today: @totalConsumedCalories
                </div>
            </div>
            @*Show breakfast Table*@
            <div>
                <h2>Breakfast</h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Food Item</th>
                            <th>Number of Servings</th>
                            <th>Calorie Count</th>
                        </tr>

                    </thead>
                    <tbody>

                        @foreach (var userFood in userFoods)

                        {
                            @if (userFood.MealId == 1 && user.Id == userFood.UserId)
                            {
                                <tr>
                                    <td>@userFood.FoodName</td>
                                    <td>@userFood.NumberOfServings</td>
                                    <td>@(userFood.CaloriesPerServing * userFood.NumberOfServings)</td>
                                </tr>
                            }
                        }

                    </tbody>
                </table>


            </div>
            @*Show Lunch Table*@
            <div>
                <h2>Lunch</h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Food Item</th>
                            <th>Number of Servings</th>
                            <th>Calorie Count</th>
                        </tr>

                    </thead>
                    <tbody>

                        @foreach (var userFood in userFoods)

                        {
                            @if (userFood.MealId == 2 && user.Id == userFood.UserId)
                            {
                                <tr>
                                    <td>@userFood.FoodName</td>
                                    <td>@userFood.NumberOfServings</td>
                                    <td>@(userFood.CaloriesPerServing * userFood.NumberOfServings)</td>
                                </tr>
                            }
                        }

                    </tbody>
                </table>
            </div>
            @*Show Dinner Table*@
            <div>
                <h2>Dinner</h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Food Item</th>
                            <th>Number of Servings</th>
                            <th>Calorie Count</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var userFood in userFoods)

                        {
                            @if (userFood.MealId == 3 && user.Id == userFood.UserId)
                            {
                                <tr>
                                    <td>@userFood.FoodName</td>
                                    <td>@userFood.NumberOfServings</td>
                                    <td>@(userFood.CaloriesPerServing * userFood.NumberOfServings)</td>
                                </tr>
                            }
                        }

                    </tbody>
                </table>
            </div>
            @*Show Snack Table*@
            <div>
                <h2>Snack</h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Food Item</th>
                            <th>Number of Servings</th>
                            <th>Calorie Count</th>
                        </tr>

                    </thead>
                    <tbody>

                        @foreach (var userFood in userFoods)

                        {
                            @if (userFood.MealId == 4 && user.Id == userFood.UserId)
                            {
                                <tr>
                                    <td>@userFood.FoodName</td>
                                    <td>@userFood.NumberOfServings</td>
                                    <td>@(userFood.CaloriesPerServing * userFood.NumberOfServings)</td>
                                </tr>
                            }
                        }

                    </tbody>
                </table>
            </div>
            @*Show Dessert Table*@
            <div>
                <h2>Dessert</h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Food Item</th>
                            <th>Number of Servings</th>
                            <th>Calorie Count</th>
                        </tr>

                    </thead>
                    <tbody>

                        @foreach (var userFood in userFoods)

                        {
                            @if (userFood.MealId == 5 && user.Id == userFood.UserId)
                            {
                                <tr>
                                    <td>@userFood.FoodName</td>
                                    <td>@userFood.NumberOfServings</td>
                                    <td>@(userFood.CaloriesPerServing * userFood.NumberOfServings)</td>
                                </tr>
                            }
                        }

                    </tbody>
                </table>

            </div>
            @*Show Other Foods Table*@
            <div>
                <h2>Other Foods</h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Food Item</th>
                            <th>Number of Servings</th>
                            <th>Calorie Count</th>
                        </tr>

                    </thead>
                    <tbody>

                        @foreach (var userFood in userFoods)

                        {
                            @if (userFood.MealId == 0 && user.Id == userFood.UserId)
                            {
                                <tr>
                                    <td>@userFood.FoodName</td>
                                    <td>@userFood.NumberOfServings</td>
                                    <td>@(userFood.CaloriesPerServing * userFood.NumberOfServings)</td>
                                </tr>
                            }
                        }

                    </tbody>
                </table>

            </div>
        </div>
        <div id="targetDashboard">
            <div id="dashboardOpacity">
                <div>
                    <h2>Current Weight: @user.CurrentWeight lbs.</h2>
                </div>
                <div>
                    <h2>Goal Weight: @user.DesiredWeight lbs.</h2>
                </div>
                <div id="bmi">
                    <h2>Current BMI: @user.BMI</h2>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Underweight</th>
                                <th>Normal</th>
                                <th>Overweight</th>
                                <th>Obese</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>< 18.5</td>
                                <td>18.5 - 24.9</td>
                                <td>25 - 29.9</td>
                                <td>30 ></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>